<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="styles.css" />
</head>

<body>

    <header>
        <a href="/">
            <h3>Groupie<span style="color:white"> Tracker</span></h3>
        </a>
    </header>

    <div class="searching-place">
        <a href="search.html"><button id="search-button">CLEAR</button></a>
    </div>

    
    <form autocomplete="off" classe="searching-machine">
        <div id="search-bar" class="search-page">
            <input id="myInput" placeholder="Ex: Genesis" type="text" name="searching-machine">
            <ul id="results"></ul>
    </form>
    <div id="match-list">
    </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a target="_blank" href="https://www.instagram.com/zone01_rouen_normandie"><i
                        class="icon ion-social-instagram"></i></a><a target="_blank"
                    href="https://fr.linkedin.com/company/zone01-rouen-normandie"><i
                        class="icon ion-social-linkedin"></i></a><a target="_blank"
                    href="https://twitter.com/zone01rouen?lang=fr"><i class="icon ion-social-twitter"></i></a><a
                    target="_blank" href="https://www.facebook.com/Zone01Rouen"><i
                        class="icon ion-social-facebook"></i></a></div>

            <p class="copyright">Daryl, Evan, Quentin © 2022</p>
        </footer>
    </div>
    <script src="./main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe69HOR2odeDUBMUFmA_x3FnQ4GcZBZJk&callback=initMap"></script>
</body>

</html>